@import "common.scss";
@import "_minix.scss";
.wrapper {
    width: 100%;
    height: 100%;
    @include box_flex;
    @include direction(column);
}

header {
    width: 100%;
    height: pxTorem(200px);
    background: url('../img/banner.png');
    background-size: 100% 100%;
}

section {
    width: 100%;
    overflow: hidden;
    @include flex;
    padding: 0 pxTorem(15px);
    @include sizing;
    // overflow-y: sroll;
    .list {
        width: 100%;
        ul {
            width: 100%;
            height: pxTorem(40px);
            @include box_flex;
            // @include justify(space-around);
            @include align;
            border-bottom: 1px solid #ccc;
            li {
                padding: 10px;
                font-size: pxTorem(15px);
                &.active {
                    color: red;
                    font-size: pxTorem(18px);
                    border-bottom: 5px solid red;
                }
            }
        }
        .cont-cont {
            width: 100%;
            @include box_flex;
            @include flexWrap(wrap);
            @include justify(space-around);
            >dl {
                width: 48%;
                flex-shrink: 0;
                padding: 10px;
                @include sizing;
                border-bottom: 1px solid #ccc;
                dt {
                    width: 100%;
                    img {
                        width: 100%;
                    }
                }
                dd {
                    padding: pxTorem(10px) 0;
                    @include sizing;
                    p {
                        font-size: pxTorem(14px);
                        color: rgb(138, 126, 126);
                    }
                    p {
                        padding: 0 pxTorem(5px);
                        @include sizing;
                        @include box_flex;
                        @include justify(space-between);
                        @include align;
                        margin-top: 8px;
                        b {
                            color: #000;
                            font-size: pxTorem(14px);
                        }
                    }
                }
            }
        }
    }
}

footer {
    width: 100%;
    height: pxTorem(50px);
    border-top: 1px solid #ccc;
    background: url('../img/foot.png');
    background-size: 100% 100%;
}